@(result: SearchResult[Account])

@dir(key: String) = @{
   result.keyOrder(key).map {
      case OrderType.Ascending => "▲"
      case OrderType.Descending => "▼"
   }
}

@main("Welcome to Play2 Pager") {

    <table class="table">
      <thead>
        <tr>
          <th><a href="@routes.Application.index(result.keyPager("id"))">id</a> @dir("id")</th>
          <th><a href="@routes.Application.index(result.keyPager("name"))">name</a> @dir("name")</th>
          <th><a href="@routes.Application.index(result.keyPager("email"))">email</a> @dir("email")</th>
          <th><a href="@routes.Application.index(result.keyPager("birthday"))">birthday</a> @dir("birthday")</th>
          <th><a href="@routes.Application.index(result.keyPager("createdAt"))">createdAt</a> @dir("createdAt")</th>
        </tr>
      </thead>
      <tbody>
        @result.items.map { account =>
          <tr>
              <th>@{account.id}</th>
              <td>@{account.name}</td>
              <td>@{account.email}</td>
              <td>@{account.birthday.format(DateTimeFormatter.ofPattern("yyyy/MM/dd"))}</td>
              <td>@{account.createdAt.format(DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm:ss"))}</td>
          </tr>
        }
      </tbody>
    </table>

    <div>
      <pre><code>@@pagination(result, routes.Application.index)</code></pre>
      @pagination(result, routes.Application.index)
    </div>
    <div>
      <pre><code>@@pagination(result, routes.Application.index, window = 2,
    firstLabel = Html("First"), previousLabel = Html("Prev"), truncateLabel = Html("..snip.."), nextLabel = Html("Next"), lastLabel = Html("Last"))</code></pre>
      @pagination(result, routes.Application.index, window = 2,
        firstLabel = Html("First"), previousLabel = Html("Prev"), truncateLabel = Html("..snip.."), nextLabel = Html("Next"), lastLabel = Html("Last"))
    </div>
    <div>
      <pre><code>@@pagination(result, routes.Application.index, window = 7, showTruncate = false)</code></pre>
      @pagination(result, routes.Application.index, window = 7, showTruncate = false)
    </div>

}
