@(result: SearchResult[Account])

@main("Welcome to Play2 Pager") {

    <table class="table">
      <thead>
        <tr>
          <th><a href="@routes.Application.index(result.keyPager("id"))">id</a> @{if(result.pager.primarySorter.key == "id") result.pager.primarySorter.dir.value}</th>
          <th><a href="@routes.Application.index(result.keyPager("name"))">name</a> @{if(result.pager.primarySorter.key == "name") result.pager.primarySorter.dir.value}</th>
          <th><a href="@routes.Application.index(result.keyPager("email"))">email</a> @{if(result.pager.primarySorter.key == "email") result.pager.primarySorter.dir.value}</th>
          <th><a href="@routes.Application.index(result.keyPager("birthday"))">birthday</a> @{if(result.pager.primarySorter.key == "birthday") result.pager.primarySorter.dir.value}</th>
          <th><a href="@routes.Application.index(result.keyPager("createdAt"))">createdAt</a> @{if(result.pager.primarySorter.key == "createdAt") result.pager.primarySorter.dir.value}</th>
        </tr>
      </thead>
      <tbody>
        @result.items.map { account =>
          <tr>
              <th>@{account.id}</th>
              <td>@{account.name}</td>
              <td>@{account.email}</td>
              <td>@{account.birthday.toString("yyyy/MM/dd")}</td>
              <td>@{account.createdAt.toString("yyyy-MM-dd HH:mm:ss")}</td>
          </tr>
        }
      </tbody>
    </table>

    <div>
      <pre><code>@@pagenation(result, routes.Application.index)</code></pre>
      @pagenation(result, routes.Application.index)
    </div>
    <div>
      <pre><code>@@pagenation(result, routes.Application.index, window = 2,
    firstLabel = Html("First"), previousLabel = Html("Prev"), truncateLabel = Html("..snip.."), nextLabel = Html("Next"), lastLabel = Html("Last"))</code></pre>
      @pagenation(result, routes.Application.index, window = 2,
        firstLabel = Html("First"), previousLabel = Html("Prev"), truncateLabel = Html("..snip.."), nextLabel = Html("Next"), lastLabel = Html("Last"))
    </div>
    <div>
      <pre><code>@@pagenation(result, routes.Application.index, window = 7, showTruncate = false)</code></pre>
      @pagenation(result, routes.Application.index, window = 7, showTruncate = false)
    </div>

}
